<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/nav.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .card-content{
            height:250px;
        }
        .content{
            height: 450px;
        }
        #answer{
            color: #000;
        }
        .text-center{
            text-align: center;
        }
    </style>
    <!--#include file="nav.html"-->
</head>

<body>
<nav>
    <div class="nav-wrapper blue">
        <a href="#" class="brand-logo" id="logo">呜呼</a>
        <ul class="hide-on-med-and-down ">
            <li class="nav-left"><a href="sass.html">首页</a></li>
            <li><a href="badges.html">发现</a></li>
            <li><a href="collapsible.html">话题</a></li>
            <li><a href="collapsible.html">提问</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href=""><i class="material-icons">chat_bubble_outline</i></a></li>
            <li><a href=""><i class="material-icons">perm_identity</i></a></li>
            <li><a href=""><i class="material-icons">more_vert</i></a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
        <div class="col s12">
            <div class="card white">
                <div class="card-content">
                    <div class="col s12 m8">
                        <div class="chip">
                            游戏
                        </div>
                        <div class="chip">
                            英雄联盟
                        </div>
                        <div class="chip">
                            中国电竞
                        </div>
                        <div class="chip">
                            英雄联盟职业联赛（LPL）
                        </div>
                    </div>
                    <div class="col s12 m8"><h3 class="flow-text">英雄联盟中辅助有什么令人震惊的操作？</h3></div>
                    <div class="col s6 m2 left">
                        <div class="row center">关注者</div>
                        <div class="row center">110</div>
                    </div>
                    <div class="col s6 m2 right">
                        <div class="row center">被浏览</div>
                        <div class="row center">7,100</div>
                    </div>
                </div>

                <div class="card-action">
                    <a class="waves-effect blue btn">关注问题</a>
                    <a id="answer" class="waves-effect white btn">写回答</a>
                </div>
            </div>
        </div>
</div>

<div class="container row">
    <div class="card-panel white text-center">
          <span class="text-darken-1">
              查看全部答案
          </span>
    </div>
    <div class="card white">
        <div class="card-content content">
                <div class="s2"><i class="material-icons">perm_identity</i></div>
                <div class="s10">无敌小傻逼</div>
                <div class="col s12 ">
                    <p class="flow-text">
                        这波慢放，从鼠标点击可以看到大王的细节，到塔下反手W减速的一瞬间看到扇子妈闪现就明白他要干什么，直接往右往下点击地板走位躲技能，不管能不能躲过去，他已经做到一个强者ADC很标准的操作了，这时候大王正妃毛神哪怕想到大王会走位，他也要义无反顾的闪现上去挡技能，因为他知道凭借走位大王有可能躲过去，也有可能躲不过去，但是他如果闪现挡技能，大王绝对死不了，所以，他上了，这就是爱%20(๛%20˘%20³˘)%20❤
                    </p>
                </div>
        </div>
        <div class="card-action">
            <a><i class="material-icons">thumb_up</i></a>
            <a><i class="material-icons">thumb_down</i></a>
        </div>
    </div>
    <div class="card white">
        <div class="card-content content">
            <div class="s2"><i class="material-icons">perm_identity</i></div>
            <div class="s10">无敌小傻逼</div>
            <div class="col s12 ">
                <p class="flow-text">
                    这波慢放，从鼠标点击可以看到大王的细节，到塔下反手W减速的一瞬间看到扇子妈闪现就明白他要干什么，直接往右往下点击地板走位躲技能，不管能不能躲过去，他已经做到一个强者ADC很标准的操作了，这时候大王正妃毛神哪怕想到大王会走位，他也要义无反顾的闪现上去挡技能，因为他知道凭借走位大王有可能躲过去，也有可能躲不过去，但是他如果闪现挡技能，大王绝对死不了，所以，他上了，这就是爱%20(๛%20˘%20³˘)%20❤
                </p>
            </div>
        </div>
        <div class="card-action">
            <a><i class="material-icons">thumb_up</i></a>
            <a><i class="material-icons">thumb_down</i></a>
        </div>
    </div>
    <div class="card white">
        <div class="card-content content">
            <div class="s2"><i class="material-icons">perm_identity</i></div>
            <div class="s10">无敌小傻逼</div>
            <div class="col s12 ">
                <p class="flow-text">
                    这波慢放，从鼠标点击可以看到大王的细节，到塔下反手W减速的一瞬间看到扇子妈闪现就明白他要干什么，直接往右往下点击地板走位躲技能，不管能不能躲过去，他已经做到一个强者ADC很标准的操作了，这时候大王正妃毛神哪怕想到大王会走位，他也要义无反顾的闪现上去挡技能，因为他知道凭借走位大王有可能躲过去，也有可能躲不过去，但是他如果闪现挡技能，大王绝对死不了，所以，他上了，这就是爱%20(๛%20˘%20³˘)%20❤
                </p>
            </div>
        </div>
        <div class="card-action">
            <a><i class="material-icons">thumb_up</i></a>
            <a><i class="material-icons">thumb_down</i></a>
        </div>
    </div>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
</body>
</html>